In [1]:
# Our task in this exercise is to provide the statistical info of salary_year_avg of individual job_title_short where job_country = United States.
# Sort the statistical info by mean dsc order
# Source data from "lukebarousse/data_jobs" from huggingface website.

In [2]:
%pip install datasets

Requirement already satisfied: datasets in c:\users\tusha\anaconda3\envs\luke_python_course\lib\site-packages (2.19.1)
Requirement already satisfied: filelock in c:\users\tusha\anaconda3\envs\luke_python_course\lib\site-packages (from datasets) (3.13.1)
Requirement already satisfied: numpy>=1.17 in c:\users\tusha\anaconda3\envs\luke_python_course\lib\site-packages (from datasets) (1.26.4)
Requirement already satisfied: pyarrow>=12.0.0 in c:\users\tusha\anaconda3\envs\luke_python_course\lib\site-packages (from datasets) (17.0.0)
Requirement already satisfied: dill<0.3.9,>=0.3.0 in c:\users\tusha\anaconda3\envs\luke_python_course\lib\site-packages (from datasets) (0.3.8)
Requirement already satisfied: pandas in c:\users\tusha\anaconda3\envs\luke_python_course\lib\site-packages (from datasets) (2.2.3)
Requirement already satisfied: requests>=2.19.0 in c:\users\tusha\anaconda3\envs\luke_python_course\lib\site-packages (from datasets) (2.32.3)
Requirement already satisfied: tqdm>=4.62.1 in c:\users\tusha\anaconda3\envs\luke_python_course\lib\site-packages (from datasets) (4.66.5)
Requirement already satisfied: xxhash in c:\users\tusha\anaconda3\envs\luke_python_course\lib\site-packages (from datasets) (2.0.2)
Requirement already satisfied: multiprocess in c:\users\tusha\anaconda3\envs\luke_python_course\lib\site-packages (from datasets) (0.70.15)
Requirement already satisfied: fsspec<=2024.3.1,>=2023.1.0 in c:\users\tusha\anaconda3\envs\luke_python_course\lib\site-packages (from fsspec[http]<=2024.3.1,>=2023.1.0->datasets) (2024.3.1)
Requirement already satisfied: aiohttp in c:\users\tusha\anaconda3\envs\luke_python_course\lib\site-packages (from datasets) (3.11.10)
Requirement already satisfied: huggingface-hub>=0.21.2 in c:\users\tusha\anaconda3\envs\luke_python_course\lib\site-packages (from datasets) (0.24.6)
Requirement already satisfied: packaging in c:\users\tusha\anaconda3\envs\luke_python_course\lib\site-packages (from datasets) (24.2)
Requirement already satisfied: pyyaml>=5.1 in c:\users\tusha\anaconda3\envs\luke_python_course\lib\site-packages (from datasets) (6.0.2)
Requirement already satisfied: aiohappyeyeballs>=2.3.0 in c:\users\tusha\anaconda3\envs\luke_python_course\lib\site-packages (from aiohttp->datasets) (2.4.4)
Requirement already satisfied: aiosignal>=1.1.2 in c:\users\tusha\anaconda3\envs\luke_python_course\lib\site-packages (from aiohttp->datasets) (1.2.0)
Requirement already satisfied: attrs>=17.3.0 in c:\users\tusha\anaconda3\envs\luke_python_course\lib\site-packages (from aiohttp->datasets) (24.3.0)
Requirement already satisfied: frozenlist>=1.1.1 in c:\users\tusha\anaconda3\envs\luke_python_course\lib\site-packages (from aiohttp->datasets) (1.5.0)
Requirement already satisfied: multidict<7.0,>=4.5 in c:\users\tusha\anaconda3\envs\luke_python_course\lib\site-packages (from aiohttp->datasets) (6.1.0)
Requirement already satisfied: propcache>=0.2.0 in c:\users\tusha\anaconda3\envs\luke_python_course\lib\site-packages (from aiohttp->datasets) (0.2.0)
Requirement already satisfied: yarl<2.0,>=1.17.0 in c:\users\tusha\anaconda3\envs\luke_python_course\lib\site-packages (from aiohttp->datasets) (1.18.0)
Requirement already satisfied: typing-extensions>=3.7.4.3 in c:\users\tusha\anaconda3\envs\luke_python_course\lib\site-packages (from huggingface-hub>=0.21.2->datasets) (4.12.2)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\tusha\anaconda3\envs\luke_python_course\lib\site-packages (from requests>=2.19.0->datasets) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\tusha\anaconda3\envs\luke_python_course\lib\site-packages (from requests>=2.19.0->datasets) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\tusha\anaconda3\envs\luke_python_course\lib\site-packages (from requests>=2.19.0->datasets) (2.2.3)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\tusha\anaconda3\envs\luke_python_course\lib\site-packages (from requests>=2.19.0->datasets) (2024.12.14)
Requirement already satisfied: colorama in c:\users\tusha\anaconda3\envs\luke_python_course\lib\site-packages (from tqdm>=4.62.1->datasets) (0.4.6)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\tusha\anaconda3\envs\luke_python_course\lib\site-packages (from pandas->datasets) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\tusha\anaconda3\envs\luke_python_course\lib\site-packages (from pandas->datasets) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\tusha\anaconda3\envs\luke_python_course\lib\site-packages (from pandas->datasets) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\tusha\anaconda3\envs\luke_python_course\lib\site-packages (from python-dateutil>=2.8.2->pandas->datasets) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
from datasets import load_dataset
import pandas as pd

In [4]:
data = load_dataset("lukebarousse/data_jobs")

In [5]:
data

DatasetDict({
    train: Dataset({
        features: ['job_title_short', 'job_title', 'job_location', 'job_via', 'job_schedule_type', 'job_work_from_home', 'search_location', 'job_posted_date', 'job_no_degree_mention', 'job_health_insurance', 'job_country', 'salary_rate', 'salary_year_avg', 'salary_hour_avg', 'company_name', 'job_skills', 'job_type_skills'],
        num_rows: 785741
    })
})

In [6]:
df = data["train"].to_pandas()

In [7]:
df

,job_title_short,job_title,job_location,job_via,job_schedule_type,job_work_from_home,search_location,job_posted_date,job_no_degree_mention,job_health_insurance,job_country,salary_rate,salary_year_avg,salary_hour_avg,company_name,job_skills,job_type_skills
0,Senior Data Engineer,Senior Clinical Data Engineer / Principal Clin...,"Watertown, CT",via Work Nearby,Full-time,False,"Texas, United States",2023-06-16 13:44:15,False,False,United States,None,NaN,NaN,Boehringer Ingelheim,None,None
1,Data Analyst,Data Analyst,"Guadalajara, Jalisco, Mexico",via BeBee México,Full-time,False,Mexico,2023-01-14 13:18:07,False,False,Mexico,None,NaN,NaN,Hewlett Packard Enterprise,"['r', 'python', 'sql', 'nosql', 'power bi', 't...","{'analyst_tools': ['power bi', 'tableau'], 'pr..."
2,Data Engineer,"Data Engineer/Scientist/Analyst, Mid or Senior...","Berlin, Germany",via LinkedIn,Full-time,False,Germany,2023-10-10 13:14:55,False,False,Germany,None,NaN,NaN,ALPHA Augmented Services,"['python', 'sql', 'c#', 'azure', 'airflow', 'd...","{'analyst_tools': ['dax'], 'cloud': ['azure'],..."
3,Data Engineer,LEAD ENGINEER - PRINCIPAL ANALYST - PRINCIPAL ...,"San Antonio, TX",via Diversity.com,Full-time,False,"Texas, United States",2023-07-04 13:01:41,True,False,United States,None,NaN,NaN,Southwest Research Institute,"['python', 'c++', 'java', 'matlab', 'aws', 'te...","{'cloud': ['aws'], 'libraries': ['tensorflow',..."
4,Data Engineer,Data Engineer- Sr Jobs,"Washington, DC",via Clearance Jobs,Full-time,False,Sudan,2023-08-07 14:29:36,False,False,Sudan,None,NaN,NaN,Kristina Daniel,"['bash', 'python', 'oracle', 'aws', 'ansible',...","{'cloud': ['oracle', 'aws'], 'other': ['ansibl..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
785736,Software Engineer,DevOps Engineer,Singapura,melalui Trabajo.org,Pekerjaan tetap,False,Singapore,2023-03-13 06:16:16,False,False,Singapore,None,NaN,NaN,CAREERSTAR INTERNATIONAL PTE. LTD.,"['bash', 'python', 'perl', 'linux', 'unix', 'k...","{'os': ['linux', 'unix'], 'other': ['kubernete..."
785737,Data Analyst,CRM Data Analyst,"Bad Rodach, Jerman",melalui BeBee Deutschland,Pekerjaan tetap,False,Germany,2023-03-12 06:18:18,False,False,Germany,None,NaN,NaN,HABA FAMILYGROUP,"['sas', 'sas', 'sql', 'excel']","{'analyst_tools': ['sas', 'excel'], 'programmi..."
785738,Business Analyst,Commercial Analyst - Start Now,Malaysia,melalui Ricebowl,Pekerjaan tetap,False,Malaysia,2023-03-12 06:32:36,False,False,Malaysia,None,NaN,NaN,Lendlease Corporation,"['powerpoint', 'excel']","{'analyst_tools': ['powerpoint', 'excel']}"
785739,Data Engineer,"Principal Associate, Data Engineer (Remote-Eli...","Newark, New Jersey, Amerika Serikat",melalui Recruit.net,Pekerjaan tetap,False,Sudan,2023-03-12 06:32:15,False,False,Sudan,None,NaN,NaN,Capital One,"['python', 'go', 'nosql', 'sql', 'mongo', 'she...","{'cloud': ['aws', 'snowflake', 'azure', 'redsh..."
785740,Software Engineer,AWS System Analyst,India,melalui Trigyn,Pekerjaan tetap,False,India,2023-03-13 06:16:31,False,False,India,None,NaN,NaN,Trigyn,"['aws', 'flow']","{'cloud': ['aws'], 'other': ['flow']}"

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 785741 entries, 0 to 785740
Data columns (total 17 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   job_title_short        785741 non-null  object
 1   job_title              785740 non-null  object
 2   job_location           784696 non-null  object
 3   job_via                785733 non-null  object
 4   job_schedule_type      773074 non-null  object
 5   job_work_from_home     785741 non-null  bool
 6   search_location        785741 non-null  object
 7   job_posted_date        785741 non-null  object
 8   job_no_degree_mention  785741 non-null  bool
 9   job_health_insurance   785741 non-null  bool
 10  job_country            785692 non-null  object
 11  salary_rate            33067 non-null   object
 12  salary_year_avg        22003 non-null   float64
 13  salary_hour_avg        10662 non-null   float64
 14  company_name           785723 non-null  object
 15  job_skills             668704 non-null  object
 16  job_type_skills        668704 non-null  object
dtypes: bool(3), float64(2), object(12)
memory usage: 86.2+ MB

In [9]:
us_df = df[df["job_country"] == "United States"]

In [10]:
us_df.job_country.value_counts()

job_country
United States    206292
Name: count, dtype: int64

In [11]:
us_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 206292 entries, 0 to 785705
Data columns (total 17 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   job_title_short        206292 non-null  object
 1   job_title              206292 non-null  object
 2   job_location           205505 non-null  object
 3   job_via                206285 non-null  object
 4   job_schedule_type      205099 non-null  object
 5   job_work_from_home     206292 non-null  bool
 6   search_location        206292 non-null  object
 7   job_posted_date        206292 non-null  object
 8   job_no_degree_mention  206292 non-null  bool
 9   job_health_insurance   206292 non-null  bool
 10  job_country            206292 non-null  object
 11  salary_rate            25372 non-null   object
 12  salary_year_avg        15766 non-null   float64
 13  salary_hour_avg        9405 non-null    float64
 14  company_name           206292 non-null  object
 15  job_skills             182167 non-null  object
 16  job_type_skills        182167 non-null  object
dtypes: bool(3), float64(2), object(12)
memory usage: 24.2+ MB

In [12]:
us_df.dropna(subset = "salary_year_avg", axis = 0, inplace = True)

C:\Users\tusha\AppData\Local\Temp\ipykernel_12896\503127910.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  us_df.dropna(subset = "salary_year_avg", axis = 0, inplace = True)

In [13]:
us_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 15766 entries, 92 to 785692
Data columns (total 17 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   job_title_short        15766 non-null  object
 1   job_title              15766 non-null  object
 2   job_location           15544 non-null  object
 3   job_via                15766 non-null  object
 4   job_schedule_type      15752 non-null  object
 5   job_work_from_home     15766 non-null  bool
 6   search_location        15766 non-null  object
 7   job_posted_date        15766 non-null  object
 8   job_no_degree_mention  15766 non-null  bool
 9   job_health_insurance   15766 non-null  bool
 10  job_country            15766 non-null  object
 11  salary_rate            15766 non-null  object
 12  salary_year_avg        15766 non-null  float64
 13  salary_hour_avg        0 non-null      float64
 14  company_name           15766 non-null  object
 15  job_skills             14358 non-null  object
 16  job_type_skills        14358 non-null  object
dtypes: bool(3), float64(2), object(12)
memory usage: 1.8+ MB

In [14]:
us_df.drop(labels = "salary_hour_avg", axis = 1, inplace = True)

C:\Users\tusha\AppData\Local\Temp\ipykernel_12896\1264792406.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  us_df.drop(labels = "salary_hour_avg", axis = 1, inplace = True)

In [15]:
us_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 15766 entries, 92 to 785692
Data columns (total 16 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   job_title_short        15766 non-null  object
 1   job_title              15766 non-null  object
 2   job_location           15544 non-null  object
 3   job_via                15766 non-null  object
 4   job_schedule_type      15752 non-null  object
 5   job_work_from_home     15766 non-null  bool
 6   search_location        15766 non-null  object
 7   job_posted_date        15766 non-null  object
 8   job_no_degree_mention  15766 non-null  bool
 9   job_health_insurance   15766 non-null  bool
 10  job_country            15766 non-null  object
 11  salary_rate            15766 non-null  object
 12  salary_year_avg        15766 non-null  float64
 13  company_name           15766 non-null  object
 14  job_skills             14358 non-null  object
 15  job_type_skills        14358 non-null  object
dtypes: bool(3), float64(1), object(12)
memory usage: 1.7+ MB

In [16]:
us_df_jts = us_df.groupby("job_title_short")

In [17]:
us_df_jts_sorted = us_df_jts["salary_year_avg"].describe().sort_values(by = "mean", ascending = False, inplace = False)

In [18]:
us_df_jts_sorted

,count,mean,std,min,25%,50%,75%,max
job_title_short,,,,,,,,
Senior Data Scientist,1241.0,159330.432029,48880.807732,55000.0,126000.00,155000.0,178458.0,475000.0
Machine Learning Engineer,128.0,154240.382812,55573.192498,44408.5,100771.75,150000.0,195000.0,315000.0
Senior Data Engineer,1058.0,151448.023186,36116.363829,45000.0,125838.75,150000.0,173500.0,375000.0
Data Scientist,4553.0,139946.707204,52791.742973,30000.0,105000.00,130000.0,164000.0,960000.0
Software Engineer,157.0,137964.929588,54015.437433,48982.0,99150.00,130000.0,173000.0,375000.0
Data Engineer,2915.0,134226.676753,42785.226304,23496.0,107500.00,125000.0,150000.0,525000.0
Cloud Engineer,20.0,120090.900000,45564.891468,42000.0,88750.00,116100.0,151000.0,221844.0
Senior Data Analyst,913.0,115729.129954,34769.663226,35360.0,92500.00,110000.0,127000.0,425000.0
Business Analyst,431.0,96175.447397,32570.729242,35000.0,75000.00,90000.0,110000.0,387460.0
Data Analyst,4350.0,94553.964924,33248.650655,25000.0,71262.50,90000.0,112500.0,375000.0