In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from datasets import load_dataset

data = load_dataset("lukebarousse/data_jobs")
df = data["train"].to_pandas()

df["job_posted_date"] = pd.to_datetime(df.job_posted_date)

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 785741 entries, 0 to 785740
Data columns (total 17 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   job_title_short        785741 non-null  object
 1   job_title              785740 non-null  object
 2   job_location           784696 non-null  object
 3   job_via                785733 non-null  object
 4   job_schedule_type      773074 non-null  object
 5   job_work_from_home     785741 non-null  bool
 6   search_location        785741 non-null  object
 7   job_posted_date        785741 non-null  datetime64[ns]
 8   job_no_degree_mention  785741 non-null  bool
 9   job_health_insurance   785741 non-null  bool
 10  job_country            785692 non-null  object
 11  salary_rate            33067 non-null   object
 12  salary_year_avg        22003 non-null   float64
 13  salary_hour_avg        10662 non-null   float64
 14  company_name           785723 non-null  object
 15  job_skills             668704 non-null  object
 16  job_type_skills        668704 non-null  object
dtypes: bool(3), datetime64[ns](1), float64(2), object(11)
memory usage: 86.2+ MB

In [7]:
# Now Say I want dataframes representing the data of individual months 
# One way to manually create each dfs using condition but its so tidious work
# We want to automate that.
# So What IF we create a dictionary where each key representing the month and its associate value contain data for that month
# Thats where we use dictionary comprehension similar to list comprehension, where we use for loop to atomate the process.

# Okay first for defining keys we neeed a array of months name So lets create it first

In [5]:
df_og = df.copy()

In [6]:
df["job_posted_month"] = df.job_posted_date.dt.strftime("%b")

df.head()

        job_title_short  ... job_posted_month
0  Senior Data Engineer  ...              Jun
1          Data Analyst  ...              Jan
2         Data Engineer  ...              Oct
3         Data Engineer  ...              Jul
4         Data Engineer  ...              Aug

[5 rows x 18 columns]

In [ ]:
month_arr = df.job_posted_month.unique()

month_arr

In [10]:
# Okay now we are ready to do dictionary comprehension

In [12]:
df_dict_month = {month : df[df["job_posted_month"] == month] for month in month_arr }

df_dict_month

{'Jun':                   job_title_short  ... job_posted_month
 0            Senior Data Engineer  ...              Jun
 8                Business Analyst  ...              Jun
 16                  Data Engineer  ...              Jun
 17                 Data Scientist  ...              Jun
 24                 Data Scientist  ...              Jun
 ...                           ...  ...              ...
 785347             Data Scientist  ...              Jun
 785571               Data Analyst  ...              Jun
 785617               Data Analyst  ...              Jun
 785669  Machine Learning Engineer  ...              Jun
 785675               Data Analyst  ...              Jun

 [61572 rows x 18 columns],
 'Jan':           job_title_short  ... job_posted_month
 1            Data Analyst  ...              Jan
 20         Data Scientist  ...              Jan
 39          Data Engineer  ...              Jan
 53          Data Engineer  ...              Jan
 55         Data Scientist  ...              Jan
 ...                   ...  ...              ...
 785699  Software Engineer  ...              Jan
 785700      Data Engineer  ...              Jan
 785703       Data Analyst  ...              Jan
 785704   Business Analyst  ...              Jan
 785705       Data Analyst  ...              Jan

 [91822 rows x 18 columns],
 'Oct':               job_title_short  ... job_posted_month
 2               Data Engineer  ...              Oct
 15              Data Engineer  ...              Oct
 18               Data Analyst  ...              Oct
 31               Data Analyst  ...              Oct
 46               Data Analyst  ...              Oct
 ...                       ...  ...              ...
 785670      Software Engineer  ...              Oct
 785671  Senior Data Scientist  ...              Oct
 785673         Data Scientist  ...              Oct
 785681          Data Engineer  ...              Oct
 785696  Senior Data Scientist  ...              Oct

 [66611 rows x 18 columns],
 'Jul':        job_title_short  ... job_posted_month
 3        Data Engineer  ...              Jul
 14       Data Engineer  ...              Jul
 37       Data Engineer  ...              Jul
 38        Data Analyst  ...              Jul
 95       Data Engineer  ...              Jul
 ...                ...  ...              ...
 785465   Data Engineer  ...              Jul
 785509    Data Analyst  ...              Jul
 785540  Data Scientist  ...              Jul
 785610    Data Analyst  ...              Jul
 785685    Data Analyst  ...              Jul

 [63777 rows x 18 columns],
 'Aug':                   job_title_short  ... job_posted_month
 4                   Data Engineer  ...              Aug
 28                 Data Scientist  ...              Aug
 50      Machine Learning Engineer  ...              Aug
 57                  Data Engineer  ...              Aug
 59                  Data Engineer  ...              Aug
 ...                           ...  ...              ...
 785661          Software Engineer  ...              Aug
 785668               Data Analyst  ...              Aug
 785672             Cloud Engineer  ...              Aug
 785698              Data Engineer  ...              Aug
 785701              Data Engineer  ...              Aug

 [75162 rows x 18 columns],
 'Nov':              job_title_short  ... job_posted_month
 5              Data Engineer  ...              Nov
 11             Data Engineer  ...              Nov
 13      Senior Data Engineer  ...              Nov
 36              Data Analyst  ...              Nov
 41            Data Scientist  ...              Nov
 ...                      ...  ...              ...
 785576         Data Engineer  ...              Nov
 785593      Business Analyst  ...              Nov
 785643        Data Scientist  ...              Nov
 785686      Business Analyst  ...              Nov
 785706         Data Engineer  ...              Nov

 [64450 rows x 18 columns],
 'Mar':              job_title_short  ... job_posted_month
 6       Senior Data Engineer  ...              Mar
 29            Data Scientist  ...              Mar
 30      Senior Data Engineer  ...              Mar
 32            Data Scientist  ...              Mar
 66          Business Analyst  ...              Mar
 ...                      ...  ...              ...
 785736     Software Engineer  ...              Mar
 785737          Data Analyst  ...              Mar
 785738      Business Analyst  ...              Mar
 785739         Data Engineer  ...              Mar
 785740     Software Engineer  ...              Mar

 [64084 rows x 18 columns],
 'Dec':              job_title_short  ... job_posted_month
 7              Data Engineer  ...              Dec
 12              Data Analyst  ...              Dec
 82             Data Engineer  ...              Dec
 86             Data Engineer  ...              Dec
 89      Senior Data Engineer  ...              Dec
 ...                      ...  ...              ...
 785609         Data Engineer  ...              Dec
 785623         Data Engineer  ...              Dec
 785640          Data Analyst  ...              Dec
 785662      Business Analyst  ...              Dec
 785677        Cloud Engineer  ...              Dec

 [56303 rows x 18 columns],
 'Apr':           job_title_short  ... job_posted_month
 9          Data Scientist  ...              Apr
 10          Data Engineer  ...              Apr
 19         Data Scientist  ...              Apr
 40         Data Scientist  ...              Apr
 44         Data Scientist  ...              Apr
 ...                   ...  ...              ...
 785619  Software Engineer  ...              Apr
 785648     Data Scientist  ...              Apr
 785650  Software Engineer  ...              Apr
 785692     Data Scientist  ...              Apr
 785702   Business Analyst  ...              Apr

 [62919 rows x 18 columns],
 'Feb':              job_title_short  ... job_posted_month
 21            Data Scientist  ...              Feb
 27             Data Engineer  ...              Feb
 34              Data Analyst  ...              Feb
 35             Data Engineer  ...              Feb
 62            Data Scientist  ...              Feb
 ...                      ...  ...              ...
 784588         Data Engineer  ...              Feb
 784779  Senior Data Engineer  ...              Feb
 784994     Software Engineer  ...              Feb
 785142      Business Analyst  ...              Feb
 785402     Software Engineer  ...              Feb

 [64578 rows x 18 columns],
 'Sep':                   job_title_short  ... job_posted_month
 22                  Data Engineer  ...              Sep
 23      Machine Learning Engineer  ...              Sep
 26                  Data Engineer  ...              Sep
 43           Senior Data Engineer  ...              Sep
 49          Senior Data Scientist  ...              Sep
 ...                           ...  ...              ...
 785618               Data Analyst  ...              Sep
 785621              Data Engineer  ...              Sep
 785629             Cloud Engineer  ...              Sep
 785657               Data Analyst  ...              Sep
 785666               Data Analyst  ...              Sep

 [62359 rows x 18 columns],
 'May':                   job_title_short  ... job_posted_month
 45            Senior Data Analyst  ...              May
 47           Senior Data Engineer  ...              May
 72              Software Engineer  ...              May
 80                  Data Engineer  ...              May
 110                 Data Engineer  ...              May
 ...                           ...  ...              ...
 785578             Data Scientist  ...              May
 785594  Machine Learning Engineer  ...              May
 785652          Software Engineer  ...              May
 785680          Software Engineer  ...              May
 785694              Data Engineer  ...              May

 [52104 rows x 18 columns]}

In [13]:
# Hoorey!! We created a dictionary of demand don't believe okay lets call the data of Jan and check it

In [16]:
df_dict_month["Jan"]["job_posted_month"].value_counts()

job_posted_month
Jan    91822
Name: count, dtype: int64

In [17]:
# See when we pull the df store in "Jan" key and check for how many time each month(s) is mention in the df,
# We get just the Jan entry.

In [18]:
# Syntax for dict Comprehension :
# dict = {key:values for key in array/list/...}
# Point to be noted : values can be any datatype from str to dataframes; even you can mention the code or condition
#                     which create that datatype 
# IOC, df[df["job_posted_month"] == month(key)] is a condition to create a specific df.